* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
  font-size: 20px;
}
.img {
  width: 100%;
}
.header {
  background-color: black;
  font-size: 0.75em;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
}
header a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

header img {
  width: 18px;
}
header a:hover {
  opacity: 1;
}
.mac {
  font-weight: 700;
  font-size: 56px;
}
.description {
  font-size: 2em;
}

/* header ends here */
.section1 {
  background-color: rgb (250, 250, 250);
  text-align: center;
  padding: 30px;
}
.link li {
  display: inline-block;
  list-style: none;
  padding: 0 8px;
}
.link a {
  text-decoration: none;
  color: blue;
}
.link a:hover {
  color: black;
}
.link a:after {
  font-family: "FontAwesome";
  content: "\f054";
  padding: 0 px;
}

/* section1 ends here */
.section2,
.section3 {
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  /* padding: 65px 0; */
}
.section2 {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
}
.link {
  padding-top: 20px;
}
.wrapper {
  padding: 10px 0;
}
.section3 {
  background-image: url("../images/home/iphone11-bg.jpg");
  color: black;
}
.section3 .price {
  padding-top: 10px;
}
/* section3 ends here */
.container4 {
  display: flex;
  justify-content: space-evenly;
}
.watch,
.card {
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 65px;
  width: 48.5%;
}
.watch {
  background-image: url("../images/home/watch-series-5.jpg");
}
.card {
  background-image: url("../images/home/apple-card.jpg");
}
.baby {
  background-image: url("../images/home/apple-tv-background.jpg");
}
.Airpod {
  background-image: url("../images/home/air-pods.jpg");
}
.baby,
.Airpod {
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 65px;
  width: 48.5%;
}
.section5,
.Airpod {
  background-position: bottom;
  background-size: initial;
}
/* footer start */
footer {
  background-color: #f5f5f7;
  font-size: 0.65em;
}
.footer-text {
  color: #86868b;
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 20px;
}
.footer-text a {
  color: #515154;
  text-decoration: none;
}
.footer-text a:hover {
  text-decoration: underline;
}
.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-links-wrapper ul li {
  list-style: none;
  padding: 5px 0;
}
.footer-links-wrapper a {
  text-decoration: none;
  color: #515154;
}
.footer-links-wrapper a:hover {
  text-decoration: underline;
}
.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 6px;
}
.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.footer-links-terms ul li {
  display: inline-block;
  padding-top: 4px;
  padding: 0 10px;
  border-right: 1px solid #515154;
}
.footer-links-terms ul a {
  text-decoration: none;
  color: #515154;
}
.footer-links-terms ul li:last-child {
  border: none;
}
.flag-wrapper,
.footer-country-name {
  display: inline-block;
}
